@font-face {
  font-family: Epilogue;
  src: url(https://fonts.google.com/specimen/Epilogue);
}

* {
    box-sizing: border-box;
  }
  
  
  
  body,
  html {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    font-family:'Epilogue';
    
  }
  
  .container {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 40px;
  }
  
  .logo-nav-container {
    display: flex;
    margin-top: 10px;
    padding: 0 20px 0 20px;
  }
  
  .logo {
    width: 10%;
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .nav-wrap {
    width: 90%;
  }
  
  .nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .nav-main {
    display: flex;
    width: 50%;
  }
  
  .links-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 60%;
  }
  
  .nav button {
    height: 30px;
    border: none;
    background-color: inherit;
    font-size: 17px;
    color: hsl(0, 0%, 41%);
  }
  
  .nav button:hover {
    color: black;
  }
  
  li {
    list-style: none;
  }
  
  .nav-sub {
    width: 40%;
  }
  
  .nav-sub ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }
  
  .nav-sub li {
    border-radius: 5px;
    width: 80px;
    height: 30px;
    text-align: center;
    padding: auto;
  }
  
  a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
  }
  
  a:hover {
    color: black;
  }
  
  .body {
    display: flex;
    flex-direction: column;
    background-image: url(/images/image-hero-desktop.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
    height: 700px;
    margin: 0 10%;
    padding-top: 90px;
  }
  
  .content {
    width: 50%;
  }
  
  .footer {
    display: flex;
    height: 100px;
  
    width: 50%;
    align-items: flex-end;
    gap: 20px;
    margin-top: 50px;
  }
  
  .para {
    width: 350px;
    color: hsl(0, 0%, 41%);
  }
  
  .heading {
    font-size: 3.5rem;
    margin-top: 0;
  }
  .heading-make {
    font-size: 3.7em;
    margin-bottom: 0;
  }
  
  .body-button {
    border-radius: 18px;
    height: 50px;
    width: 120px;
    background-color: black;
    color: white;
    margin: 50px 0 50px 0;
  }
  
  .body-button:hover {
    background-color: inherit;
    color: black;
    cursor: pointer;
  }
  
  .footer span {
    display: flex;
    align-content: flex-end;
    height: 30px;
  }
  
  .footer span img {
    width: 65px;
  }
  
  .feature-content,
  .company-content {
    display: none;
    flex-direction: column;
    width: fit-content;
    gap: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown a {
    display: flex;
    gap: 10px;
  }
  
  .drop1:hover .feature-content {
    display: flex;
  }
  
  .drop2:hover .company-content {
    display: flex;
  }
  
  .drop1:hover #icon-arrow {
    content: url(/images/icon-arrow-up.svg);
  }
  
  .drop2:hover #icon-arrow {
    content: url(/images/icon-arrow-up.svg);
  }
  
  .hambuger {
    display: none;
    position: absolute;
    right: 0;
    margin: 10px 40px;
  }
  
  .hambuger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: hsl(0, 0%, 41%);
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all o.3s ease-in-out;
    background-color: #101010;
  }
  
  @media (min-width: 180px) and (max-width: 780px) {
    .container {
      padding-bottom: 0;
    }
  
    .logo {
      margin: 10px 0;
      width: 150px;
      height: 50px;
      background-position: left;
    }
  
    .nav-wrap {
      display: none;
      position: absolute;
      width: 0;
      height: 788px;
      background-color: rgba(59, 56, 56, 0.39);
      top: 0;
    }
  
    .nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      right: 0px;
      height: 100%;
      top: 0px;
      width: 50%;
      padding-top: 80px;
      background-color: white;
    }
  
    .nav-main {
      width: fit-content;
    }
  
    .nav-sub ul {
      width: fit-content;
  
      display: flex;
      flex-direction: column;
    }
  
    .reg {
      width: 300px;
    }
  
    .links-container {
      display: flex;
      flex-direction: column;
    }
  
    .hambuger {
      display: block;
    }
  
    .body {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-image: url(/images/image-hero-mobile.png);
      background-position: top;
      background-repeat: no-repeat;
      background-size: 100% 40%;
      margin: 0;
    }
  
    .content {
      width: 100%;
      margin-top: 220px;
      display: flex;
      flex-direction: column;
    }
  
    .heading {
      font-size: 35px;
      text-align: center;
    }
    .heading-make {
      font-size: 35px;
      text-align: center;
      margin-top: 0;
    }
    .heading-wrap {
      display: flex;
      margin: 0 auto;
      gap: 10px;
    }
  
    .para {
      margin-top: 10px;
      text-align: center;
      margin: auto;
      width: 100%;
  
      font-size: 18px;
    }
  
    .body button {
      margin: 50px auto;
    }
  
    .footer {
      margin-top: 0;
      width: 100%;
      align-items: baseline;
      justify-content: center;
    }
  
    .show {
      width: 100%;
      right: 0;
      display: block;
    }
  
    .nav button {
      width: 100px;
    }
  
    .feature-content,
    .company-content {
      position: relative;
      box-shadow: none;
    }
  
    .hambuger.active .line:nth-child(2) {
      opacity: 0;
    }
  
    .hambuger.active .line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hambuger.active .line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  